<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Stock Management App</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/slate/bootstrap.min.css" integrity="
    sha384-8iuq0iaMHpnH2vSyvZMSIqQuUnQA7QM+f6srIdlgBrTSEyd//AWNMyEaSF2yPzNQ" crossorigin="anonymous">
    <!--bootstrap-->
</head>
<body>
<main>
    <h1 class="display-4 text-center mt-4 titulo">Inventory Management</h1>
    <div class="btn-group" style="width:100%">
        <form style="width:33.3%" action="/display_c">
  <button type="submit"style=" width:100%" class="btn btn-light">Clients</button>
            </form>
        <form style="width:33.3%" action="/display_s">
  <button type="submit" style="width:100%" class="btn btn-light">Suppliers</button>
        </form>
        <form style="width:33.3%" action="/flash">
  <button type="submit" style="width:100%" class="btn btn-light">Admin Login</button>
        </form>
</div>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <h1 class="display-4 text-center mt-4 titulo">Better Today Than Tomorrow. Computer Supplies</h1>
</main>

</body>
</html>