<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome Admin</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/slate/bootstrap.min.css" integrity="
    sha384-8iuq0iaMHpnH2vSyvZMSIqQuUnQA7QM+f6srIdlgBrTSEyd//AWNMyEaSF2yPzNQ" crossorigin="anonymous">

</head>
<body>
<main>
        <h1 class="display-4 text-center mt-4 titulo">Inventory Manager</h1>
        <h2 class="display-4 text-center mt-4 titulo">Administration Page</h2>
    <div class="btn-group" style="width:100%">
        <form style="width:33.3%" action="/admin_c">
  <button type="submit"style=" width:100%" class="btn btn-light">Products</button>
            </form>
        <form style="width:33.3%" action="/admin_s">
  <button type="submit" style="width:100%" class="btn btn-light">Suppliers</button>
        </form>
        <form style="width:33.3%" action="/admin_f">
  <button type="submit" style="width:100%" class="btn btn-light">Financial Report</button>
        </form>
    </div>
</main>

</body>
</html>